{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $("input[type=submit]").button()
        })
    </script>
{% endblock %}
{% block content %}
    <form method="POST" action="/">{% csrf_token %}
        <p><label>{% blocktrans %}Username{% endblocktrans %}</label><input type="text" name="username" id="username" size="25"></p>

        <p><label>{% blocktrans %}Password{% endblocktrans %}</label><input type="password" name="password" id="password" size="25"></p>
        <input type="submit" value="Login">
    </form>
{% endblock %}