body {
    background-color: #93ddff;
}

#content {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 0.7em;
    width: 25%;
    margin: auto;
    margin-top: 10%;
}

label {
    display: inline-block;
    width: 12em;
}
